<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}} <a href="mailto: rakeshpodder3@gmail.com" target="_top">rakeshpodder3@gmail.com</a></p>
    </div>
    
    {{>footer}}
</body>

</html>